<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="base::headstuff">
    <title>index</title>
</head>

<body>
<div th:replace="base::navbar"></div>

<div class="container">
    <!--insert webpage content here-->
    <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p>...</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/secure" role="button">Go to Secure</a>
        </p>
    </div>
</div>

<nav th:replace="base :: footer"></nav>
<th:block th:replace="base:: jslinks"></th:block>
</body>
</html>